div,
body {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
}

table {
  table-layout: auto;
}

.sheets-divider {
  width: 50%;
  height: 100vh;
  overflow: scroll;
}
.editor-divider {
  flex-grow: 1;
  width: 50%;
  height: 100%;
}
.editor {
  width: auto;
  height: 90vh;
}
.editor-status {
  height: 10vh;
}

.cell-empty div {
  width: 50px;
  height: 10px;
}

.cell-error {
  background-color: red;
  color: black;
}